{% extends 'layout.html' %}
{% load static %}
{% block title %} 

    {% if actus == True %}

                    Actus

                {% elif videos == True %}

                    Vidéos

                {% elif photos == True %}

                    Galérie

                {% elif album == True %}
                
                    Album

                {% endif %} 
{% endblock %}

{% block content %}


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                {% if actus == True %}
                    <h1>Actus</h1>

                {% elif videos == True %}

                    <h1>Vidéos</h1>

                {% elif photos == True %}

                    <h1>Galérie</h1>

                {% elif album == True %}
                
                    <h1>Album</h1>

                {% endif %}
                
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="{% url 'home'%}">Home</a><i class="fa fa-angle-double-right"></i>

                        {% if actus == True %}

                            <span>Actus</span>

                        {% elif videos == True %}

                            <span>Vidéos</span>

                        {% elif photos == True %}

                            <span>Galérie</span>

                        {% elif album == True %}
                        
                            <span>Album</span>

                        {% endif %}
                        
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

{% if videos == True %}

    <!-- Vidéos -->
    <!-- Vidéos -->

    <div id="callMe" class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Vidéos</h2>
                    <p class="p-heading">Our clients are our partners and we can not imagine a better future for our company without helping them reach their objectives</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transform: translate3d(-2285.33px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-4.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">At the beginning I thought the prices are a little high for what they offer but they over deliver each and every time.</div>
                                            <div class="testimonial-author">Ronald Spice - Owner</div>
                                        </div>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-5.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I recommend Aria to every business owner or growth leader that wants to take his company to the next level.</div>
                                            <div class="testimonial-author">Lindsay Rune - Manager</div>
                                        </div>
                                    </div>        
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="5" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-6.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">My goals for using Aria's services seemed high when I first set them but they've met them with no problems.</div>
                                            <div class="testimonial-author">Ann Black - Consultant</div>
                                        </div>
                                    </div>        
                                </div>
                                
                                <!-- Slide -->
                                <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-1.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">The guys from Aria helped with getting my business off the ground and turning into a profitable company.</div>
                                            <div class="testimonial-author">Jude Thorn - Founder</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-slide-index="1" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-2.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I purchased the Growth Accelerator service pack a few years ago and I renewed the contract each year. </div>
                                            <div class="testimonial-author">Marsha Singer - Marketer</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-3.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">Aria's CEO personally attends client meetings and gives his feedback on business growth strategies.</div>
                                            <div class="testimonial-author">Roy Smith - Developer</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-slide-index="3" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-4.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">At the beginning I thought the prices are a little high for what they offer but they over deliver each and every time.</div>
                                            <div class="testimonial-author">Ronald Spice - Owner</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="4" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-5.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I recommend Aria to every business owner or growth leader that wants to take his company to the next level.</div>
                                            <div class="testimonial-author">Lindsay Rune - Manager</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="5" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-6.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">My goals for using Aria's services seemed high when I first set them but they've met them with no problems.</div>
                                            <div class="testimonial-author">Ann Black - Consultant</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                            
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-1.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">The guys from Aria helped with getting my business off the ground and turning into a profitable company.</div>
                                            <div class="testimonial-author">Jude Thorn - Founder</div>
                                        </div>
                                    </div>
                                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-2.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I purchased the Growth Accelerator service pack a few years ago and I renewed the contract each year. </div>
                                            <div class="testimonial-author">Marsha Singer - Marketer</div>
                                        </div>
                                    </div>        
                                </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 265.667px; margin-right: 20px;">
                                    <div class="card">
                                        <img class="card-img" src="/static/images/testimonial-3.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">Aria's CEO personally attends client meetings and gives his feedback on business growth strategies.</div>
                                            <div class="testimonial-author">Roy Smith - Developer</div>
                                        </div>
                                    </div>        
                                </div></div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                            <!-- end of add arrows -->
                            <br>

                            <!-- <a class="a-button a-button--small a-button--dark u-rounded u-min-w-135px" href="https://www.nrj.fr/artistes/youssoupha/albums" target="_self">
                            <span class="a-button__text ">
                            Tous les vidéos
                            </span>
                            </a> -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    </div> <!-- end of slide -->
    <!-- end of vidéos -->

{% elif photos == True %}

<!-- Photos -->
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PHOTOS</div>
                    <h2>Photos That We're Proud Of</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                    <div class="button-group filters-button-group">
                        <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                        <a class="button" data-filter=".design"><span>Making Off</span></a>
                        <a class="button" data-filter=".development"><span>Affiche Clips</span></a>
                        <a class="button" data-filter=".marketing"><span>Shooting</span></a>
                        <!-- <a class="button" data-filter=".seo"><span>SEO</span></a> -->
                    </div> <!-- end of button group -->
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Affiche Clips</span></div><img src="{% static 'images/Shooting/two.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Shooting</span></div><img src="{% static 'images/Shooting/one.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Shooting</span></div><img src="{% static 'images/Shooting/four.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item design">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Making Off</span></div><img src="{% static 'images/Making Off/esimbi3.jpeg'%}" alt="alternative"></a>
                        </div>


                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Affiche Clips</span></div><img src="{% static 'images/Shooting/bio.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Shooting</span></div><img src="{% static 'images/Shooting/three.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Shooting</span></div><img src="{% static 'images/Shooting/bio-2.jpg'%}" alt="alternative"></a>
                        </div>
                        <div class="element-item design">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Making Off</span></div><img src="{% static 'images/Making Off/esimbi1.jpeg'%}" alt="alternative"></a>
                        </div>
                        

                        
                    </div> <!-- end of grid -->
                    <!-- <a class="btn-outline-reg back" href="{% url 'all_videos' %}">Tous les vidéos</a> -->
                    <!-- end of filter -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                    <br>
                    <a class="btn-outline-reg back" href="{% url 'all_photos' %}">Plus des photos</a>
                    </div>
                </div>
            </div> -->
             <!-- end of row -->

        </div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->


    <!-- Project Lightboxes -->
    <!-- Lightbox -->
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/two.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Affiche Clips </h3>
                <hr class="line-heading">
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/one.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Shooting</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/four.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Shooting</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Making Off/esimbi3.jpeg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Making Off</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

<!-- Lightbox -->
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/bio.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Affiche Clips</h3>
                <hr class="line-heading">
                
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/three.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Shooting</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Shooting/bio-2.jpg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Shooting</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'images/Making Off/esimbi1.jpeg'%}" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Making Off</h3>
                <hr class="line-heading">
                <h6>Making Off du Clip Esimbi (Diplômé)</h6>
                <p>Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Americano will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <!-- <a class="btn-solid-reg" href="#your-link">DETAILS</a>  -->
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
{% elif actus == True %}

    <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">
                            <h4>BIOGRAPHIE</h4>
                        </div>
                        
                        <div> 
                            <h4>Jeunesse</h4>

                            <p class="testimonial-text"><strong>Américano</strong> est un artiste rappeur congolais, né le 13 juin 1997 à la commune de Ngaliema, à Kinshasa capitale de la République Démocratique du Congo. Ses parents sont congolais de la RDC. Il est passionné de musique depuis son plus jeune âge...
                            <strong>Américano</strong>, de son vrai nom <b>Célestin Katuina Loata</b>.</p>
                            <p class="testimonial-text">Le jeune <strong>Américano</strong> se consacre à ses études où il excelle en science juridique.</p>

                            <h4>Début dans le rap</h4>

                            <p class="testimonial-text">Son goût de faire le rap naît durant la fin de son adolescence. Il s'inspire notamment des rappeurs français, <b>La Fouine</b>, <b>Youssoupha</b>, <b>Booba</b>, <b> Kaaris</b>, <b>Gims</b> et autres à qui il emprunte son style du rap, Mais le jeune <strong>Américano</strong> kiffe beaucoup plus la musique de <b>Youssoupha</b>.</p>
                        </div>
                        <div tabindex="-1"> 
                            <h4>Carrière musicale</h4>

                            <p class="testimonial-text"><strong>En décembre 2016</strong>, il fait sa toute première fois <b>"La Ligue"</b> en collaboration avec ses condisciples.</p>

                            <p class="testimonial-text">En mars 2017, il émet deux chansons, l'une <b>"Mon Amour"</b> avec son grand du quartier nommé <b>Reakon</b>, et l'autre il collabore avec ses deux potes du quartier toujours, <b>T3</b> au micro super star et <b>Christ Love</b> intitulée <b>"Elengi Suka Te"</b>.</p>

                            <h4>MemeMoraleMusic</h4>

                            <p class="testimonial-text"><strong>Américano</strong> et ses deux derniers potes, <b>T3</b> et <b>Christ Love</b> ainsi que <b>Mélancolique Christian Bagueya</b> créent un groupe musical au nom de <b>MemeMoraleMusic ( MMMusic ou MMM )</b> dont il est le visionnaire.
                            L'artiste <b>T3</b> vient d'être suspendu de manière indéterminée suite à sa méconduite dans le groupe... celui-ci juge bon de quitter directement le groupe <b>MMMusic</b> pour évoluer en solo. <strong>Américano</strong>, <b>Christ Love</b> et <b>Mélancolique</b> continuent d'évoluer en commun. Ce trio lance deux chansons <b>"Atterrissage"</b> et <b>"Musuku"</b>.</p>
                            <p class="testimonial-text"><strong>Au mois de juillet 2017</strong>, <strong>Américano</strong> assure pour la toute première fois tout seul la chanson <b>"Esimbi Diplôme"</b> à l'effet de célébrer leur obtention de diplômes d'État avec ses condisciples suite à leur réussite aux épreuves nationales. Et cette chanson est dédiée à tous les titulaires d'un diplôme d'État...
                            </p>

                            <h4>Américano en solo</h4>

                            <p class="testimonial-text"><strong>En novembre 2019</strong>, <strong>Américano</strong> surprend le monde avec une très belle chanson <b>"Ça va Luyindama"</b>. Une chanson composée à l'effet de rendre hommage à l'international joueur congolais <b>Christian Luyindama</b>, le défenseur central de l'équipe nationale de la République Démocratique du Congo et joueur du club Galatasaray.
                            </p>
                            <br>
                            <p class="testimonial-text"><strong>En mars 2020</strong>, il lance <b>"Dédicaces"</b>. Une chanson pour satisfaire ses fans qui souhaitent être dédicacés par le jeune <strong>Américano</strong>.
                            </p>
                            <p class="testimonial-text"><strong>Au mois d'août</strong>, il collabore avec son ancien collaborateur du groupe <b>MMMusic</b>, <b>T3</b> au micro et les deux autres artistes dont <b>Obi Scratch</b> et <b>Par La Tête</b>. Les quatre émettent un joli tube <b>"À chacun son tour"</b>.
                            </p>
                            <p class="testimonial-text"><strong>En décembre 2020</strong>, le jeune rappeur <strong>Américano</strong> lance <b>"Tika Buzoba"</b>. La chanson qui parle de réalité de son  pays...</p>
                        </div>
                        <!-- <div class="testimonial-author">Louise Donovan - CEO</div> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/bio-2.jpg'%}" alt="alternative">
                        <!-- <img class="img-fluid" src="{% static 'images/intro-office.jpg'%}" alt="alternative"> -->
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->

{% endif %}

{% endblock %}